.div-fondo {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen de fondo */
.bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(75%);
  transform: scale(1.1);
  z-index: 1;
}

/* Contenedor del formulario */
.form {
  position: relative;
  z-index: 3;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  width: 350px;

}

.form-header img{
  width: 30%;
}
.form-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.form-header p {
  color: #6b6b6b;
}

.form-body{
  margin: 1vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email{
  width: 100%;
}

.email p{
  text-align: left;
  padding: 0.5rem;
}
.email input{
  width: 100%;
  border-radius: 5px;
  background: #F3F3F5;
  color: #6b6b6b;
  padding: 1.2vh;
  text-align: left;
  border: none;
}

.password{
  width: 100%;
}

.password p{
  text-align: left;
  padding: 0.5rem;
}

.password input{
  width: 100%;
  border-radius: 5px;
  background: #F3F3F5;
  color: #6b6b6b;
  padding: 1.2vh;
  text-align: left;
  border: none;
}

.name{
  width: 100%;
}
.name p{
  text-align: left;
  padding: 0.5rem;
}

.name input{
  width: 100%;
  border-radius: 5px;
  background: #F3F3F5;
  color: #6b6b6b;
  padding: 1.2vh;
  text-align: left;
  border: none;
}

.surname{
  width: 100%;
}
.surname input{
  width: 100%;
  border-radius: 5px;
  background: #F3F3F5;
  color: #6b6b6b;
  padding: 1.2vh;
  text-align: left;
  border: none;
}
.surname p{
  text-align: left;
  padding: 0.5rem;
}
.form-footer{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-footer button{
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background: #0591C4;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease, transform 0.3s ease;
}

.form-footer button:hover{
  background: #0aa2da;
  transform: scale(1.03);
}
