<div class="content">
  <div class="header-title">
    <h1>{{ params.title }}</h1>
    <p>{{ params.description}}</p>
  </div>
  @if (params.aux){
  <div class="header-aux">
    <div class="aux-description">
      <p class="primary">{{ params.name }}</p>
      <p class="second">Asesor Inmobiliario</p>
    </div>
    <div class="avatar-container">
      <img src="/assets/img/usuario.png">
    </div>
  </div>
  }
  @if (params.aux2){
    <div class="aux2-wrapper">
      <app-classic-button (click)="onShowModal()" class="button-aux2">+ Agregar Propiedad</app-classic-button>
    </div>
  }
</div>
