.submit {
  font-weight: 400;
  font-family: Bahnschrift, sans-serif;
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
  padding: 6px;
  border: none;
  transition: 400ms;
  background-color: #00a5ce;
  outline: 3px #00a5ce solid;
  cursor:pointer;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit:hover {
  background-color: transparent;
  color: #00a5ce;
}
