.main-content {
  margin-left: 240px;
  /* Sidebar width */
  padding: 8rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-base);
  background-image: radial-gradient(var(--border-color) 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  box-sizing: border-box;
}

@media (min-width: 1600px) {
  .main-content {
    margin-left: 16vw;
  }
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 80px;
  }
}
