<div class="login-layout">
  <img ngSrc="/assets/img/layout.jpg" alt="image-background" fill class="login-bg-img">
  <div class="login-card" [formGroup]="form">
    <div class="login-card-header">
      <img ngSrc="/assets/img/logo.png" alt="image-logo" height="512" width="512" priority>
      <h1>ViviendaSmart</h1>
      <p>Plataforma de gestión inmobiliaria</p>
    </div>
    <div class="login-card-body">
      <div class="login-field-email">
        <p>Correo</p>
        <input type="email" formControlName="email" placeholder="usuario@ejemplo.com" maxlength="30" minlength="4"
          [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched">
        <div class="error-message" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          <small *ngIf="form.get('email')?.errors?.['required']">El correo es obligatorio.</small>
          <small *ngIf="form.get('email')?.errors?.['email']">Debe ser un correo válido.</small>
        </div>
      </div>
      <div class="login-field-password">
        <p>Contraseña</p>
        <input type="password" formControlName="password" placeholder="**********" maxlength="30" minlength="8"
          [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched">
        <div class="error-message" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          <small *ngIf="form.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
        </div>
      </div>
      <div class="terms-field">
        <div class="checkbox-wrapper">
          <input type="checkbox" id="terms" formControlName="termsAccepted">
          <label for="terms">He leído y acepto los <a (click)="toggleTermsModal(); $event.preventDefault()"
              href="#">Términos y Condiciones</a></label>
        </div>
      </div>
    </div>
    <div class="login-card-footer">
      <button (click)="login()" [disabled]="loading">
        {{ loading ? 'Cargando...' : 'Iniciar sesión' }}
      </button>
      <a [routerLink]="['/register']">¿No estás registrado?</a>
    </div>
  </div>
  <app-terms-modal *ngIf="showTermsModal" (close)="toggleTermsModal()"></app-terms-modal>
</div>