/* ========== layout ========== */
.login-layout {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* ========== background ========== */
.login-bg-img {
  position: absolute;
  filter: blur(3px) brightness(75%);
  transform: scale(1.1);
  object-fit: cover;
}

/* ========== card ========== */
.login-card {
  position: relative;
  z-index: 3;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  width: 350px;

}

.login-card-header img{
  width: 30%;
  height: 30%;
}
.login-card-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.login-card-header p {
  color: #6b6b6b;
}

.login-card-body{
  margin: 1vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-card-footer{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.login-card-footer button{
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background: #0591C4;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease, transform 0.3s ease;
}
.login-card-footer button:hover{
  background: #0aa2da;
  transform: scale(1.03);
}

/* ========== fields ========== */
.login-field-email{
  width: 100%;
}
.login-field-email p{
  text-align: left;
  padding: 0.5rem;
}
.login-field-email input{
  width: 100%;
  border-radius: 5px;
  background: #F3F3F5;
  color: #6b6b6b;
  padding: 1.2vh;
  text-align: left;
  border: none;
}

.login-field-password{
  width: 100%;
}
.login-field-password p{
  text-align: left;
  padding: 0.5rem;
}
.login-field-password input{
  width: 100%;
  border-radius: 5px;
  background: #F3F3F5;
  color: #6b6b6b;
  padding: 1.2vh;
  text-align: left;
  border: none;
}

