.card{
  text-align: center;
  background: linear-gradient(to bottom, #FAF9FD, #f5f5f6);
}

.card-header {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}

.img-wrapper{
  background-color: #c3c3c3;
  border-radius: 100%;
  margin-top: 0.5vw;
  filter: invert(100);
}

.body-title {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 37px;
  color: #080210;
}

.body-text {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  color: #080210;
}

.body-img{
  width: 100%;
  height: 10vh;
  padding: 1rem;
  border-radius: 5%;
}

.client-cards-container {
  margin-left: 4rem;
  width: 95%;
  display: flex;
  flex-wrap: wrap; /* Esto permite que las tarjetas se ajusten automáticamente */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 2rem; /* Espacio entre las tarjetas */
  padding-left: 200px;
  padding-top: 7rem;
}

.client-card {
  width: 20vw;
  margin: 1vh;
  display: flex;
  flex-direction: column;
}

