<div class="modal-backdrop" (click)="close()"></div>
<div class="modal">
  <form class="form" [formGroup]="form" (ngSubmit)="submitForm($event)" >
    <h2 class="form-title">Agregar Propiedad</h2>
    <div class="inputs-container">
      <label>
        <input class="input" type="text" placeholder="" required formControlName="address" minlength="1" maxlength="30" [class.is-invalid]="form.get('address')?.invalid && form.get('address')?.touched">
        <span>Direccion</span>
        <div class="error-message" *ngIf="form.get('address')?.invalid && form.get('address')?.touched" class="error-msg">
          <small>La dirección de la propiedad es obligatoria.</small>
        </div>
      </label>

      <label>
        <input class="input" type="text" min="10" maxlength="8" step="any" placeholder="" (beforeinput)="validarSoloNumeros($event)"  required formControlName="size" [class.is-invalid]="form.get('size')?.invalid && form.get('size')?.touched">
        <span>Área en m2</span>
        <div class="error-message" *ngIf="form.get('size')?.invalid && form.get('size')?.touched" class="error-msg">
          <small>El tamaño (área) debe ser mayor a 0 y estar en m2.</small>
        </div>
      </label>

      <label>
        <input class="input" type="text" min="10" maxlength="10" step="any" placeholder="" required formControlName="price" (beforeinput)="validarSoloNumeros($event)" [class.is-invalid]="form.get('price')?.invalid && form.get('price')?.touched">
        <span>Precio (soles)</span>
        <div class="error-message" *ngIf="form.get('price')?.invalid && form.get('price')?.touched" class="error-msg">
          <small>El precio de la propiedad debe ser mayor a 0.</small>
        </div>
      </label>
    </div>
    <app-classic-button [disabled]="form.invalid" class="submit-button" >Confirmar</app-classic-button>
    <app-classic-button (click)="close()" class="cancel-button" type="button" >Cancelar</app-classic-button>
  </form>
</div>
