
.modal{
  position: fixed;
  top: 7vw;
  left: 15vw;
  display: flex;
  height: 80vh;
  width: 75vw;
  gap: 30px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.form {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 2rem;
  border-radius: 30px;
  position: relative;
  background-color: #ffffff;
  z-index: 0;
  line-height: 19px;
  gap: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}


.form-title {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}


.inputs-container{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap:4vh;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #F3F3F5;
  color: #8e8e8e;
  width: 15vw;
  padding: 20px 0 05px 10px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  font-size: 13px;
}

.form label .input + span {
  color: #8e8e8e;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 14px;
}

.form label .input:focus + span,.form label .input:valid + span {
  color: #00A6CF;
  top: 3px;
  font-size: 11px;
  font-weight: 600;
}

.input {
  font-size:16px;
}


:host ::ng-deep app-classic-button.cancel-button button {
  background-color: #026d95;
  outline: 3px #026d95 solid;
}

:host ::ng-deep app-classic-button.cancel-button button:hover{
  color: #026d95;
  background-color: #F3F3F5;
}
