<div class="modal-backdrop" (click)="close()"></div>
<div class="modal">
  <form class="form" [formGroup]="form" (ngSubmit)="submitForm($event)" >
    <h2 class="form-title">Agregar Propiedad</h2>
    <div class="inputs-container">
      <label>
        <input class="input" type="text" placeholder="" required formControlName="address">
        <span>Direccion</span>
      </label>

      <label>
        <input class="input" type="text" placeholder="" required formControlName="size">
        <span>Area</span>
      </label>

      <label>
        <input class="input" type="text" placeholder="" required formControlName="price">
        <span>Precio (soles)</span>
      </label>
    </div>
    <app-classic-button [disabled]="form.invalid" class="submit-button" >Confirmar</app-classic-button>
    <app-classic-button (click)="close()" class="cancel-button" type="button" >Cancelar</app-classic-button>
  </form>
</div>
