<div class="modal-backdrop" (click)="close()"></div>
<div class="modal">
  <form class="form" [formGroup]="form" (ngSubmit)="submitForm($event)" >
    <h2 class="form-title">{{ 'PROPERTY_FORM_MODAL_AGREGAR_PROPIEDAD' | translate }}</h2>
    <div class="inputs-container">
      <label>
        <input class="input" type="text" placeholder="" required formControlName="address" minlength="1" maxlength="30" [class.is-invalid]="form.get('address')?.invalid && form.get('address')?.touched">
        <span>{{ 'PROPERTY_FORM_MODAL_DIRECCION' | translate }}</span>
        <div class="error-message" *ngIf="form.get('address')?.invalid && form.get('address')?.touched" class="error-msg">
          <small>{{ 'PROPERTY_FORM_MODAL_LA_DIRECCI_N_DE_LA_P' | translate }}</small>
        </div>
      </label>

      <label>
        <input class="input" type="text" min="10" maxlength="8" step="any" placeholder="" (beforeinput)="validarSoloNumeros($event)"  required formControlName="size" [class.is-invalid]="form.get('size')?.invalid && form.get('size')?.touched">
        <span>{{ 'PROPERTY_FORM_MODAL_REA_EN_M2' | translate }}</span>
        <div class="error-message" *ngIf="form.get('size')?.invalid && form.get('size')?.touched" class="error-msg">
          <small>{{ 'PROPERTY_FORM_MODAL_EL_TAMA_O_REA_DEB' | translate }}</small>
        </div>
      </label>

      <label>
        <input class="input" type="text" min="10" maxlength="10" step="any" placeholder="" required formControlName="price" (beforeinput)="validarSoloNumeros($event)" [class.is-invalid]="form.get('price')?.invalid && form.get('price')?.touched">
        <span>{{ 'PROPERTY_FORM_MODAL_PRECIO_SOLES' | translate }}</span>
        <div class="error-message" *ngIf="form.get('price')?.invalid && form.get('price')?.touched" class="error-msg">
          <small>{{ 'PROPERTY_FORM_MODAL_EL_PRECIO_DE_LA_PROP' | translate }}</small>
        </div>
      </label>
    </div>
    <app-classic-button [disabled]="form.invalid" class="submit-button" >{{ 'PROPERTY_FORM_MODAL_CONFIRMAR' | translate }}</app-classic-button>
    <app-classic-button (click)="close()" class="cancel-button" type="button" >{{ 'PROPERTY_FORM_MODAL_CANCELAR' | translate }}</app-classic-button>
  </form>
</div>
